<ion-header>
  <ion-toolbar>
    <ion-title>Lista de tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content className="ion--padding">

  <ion-list>
      <ion-card *ngFor ="let task of taskService.tasks" button="true" (click)="presentModal(task.id)" routerDirection="forward">
        <ion-card-header>
          <ion-card-subtitle>Titulo:</ion-card-subtitle>
          <ion-card-title>{{task.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-card-subtitle>Descripción:</ion-card-subtitle>
          {{task.description}}
        </ion-card-content>

        <ion-item class="activated">
          <ion-label>Prioridad: {{task.priority}}</ion-label>
          <ion-badge color="{{task.color}}">{{task.tag}}</ion-badge>
        </ion-item>

        <ion-item class="activated">
          <ion-label>Fecha Limite: {{task.deadLine}}</ion-label>
        </ion-item>
    </ion-card>    
  </ion-list>


  
  
</ion-content>
<ion-item>
  <ion-buttons slot="start">
    <ion-button (click)="addtask()" >
      <ion-icon slot="icon-only" src="../assets/icon/new-task.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
